In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
%matplotlib inline
pd.set_option('display.max_columns', 26)

In [5]:
df= pd.read_csv('..\ckd_dataset\kidney_disease_2.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [48]:
df['classification'].value_counts()
# The dataset contains two classes: 'ckd' and 'notckd', with 'ckd' being the positive class.
# The dataset is imbalanced, with more instances of 'notckd' than 'ckd'. (ckd : 248, notckd: 150, ckd\t: 2)

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [49]:
df.columns

df.drop('id', axis = 1, inplace = True) #id column 삭제
'''
'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'
'''
df.columns = ['Age', 'BP', 'SG', 'Albumin', 'urine_sugar', 'urine_RBC', 'urine_pc',
              'urine_pcc', 'urine_bacteria', 'blood_glucose', 'blood_urea', 'Creatinine', 'Sodium',
              'Potassium', 'Hemoglobin', 'Hematocrit', 'WBC_count', 'RBC_count',
              'HTN', 'DM', 'CAD', 'appetite', 'pedal_edema',
              'anemia', 'class']

In [50]:
df.head()

,Age,BP,SG,Albumin,urine_sugar,urine_RBC,urine_pc,urine_pcc,urine_bacteria,blood_glucose,blood_urea,Creatinine,Sodium,Potassium,Hemoglobin,Hematocrit,WBC_count,RBC_count,HTN,DM,CAD,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             391 non-null    float64
 1   BP              388 non-null    float64
 2   SG              353 non-null    float64
 3   Albumin         354 non-null    float64
 4   urine_sugar     351 non-null    float64
 5   urine_RBC       248 non-null    object
 6   urine_pc        335 non-null    object
 7   urine_pcc       396 non-null    object
 8   urine_bacteria  396 non-null    object
 9   blood_glucose   356 non-null    float64
 10  blood_urea      381 non-null    float64
 11  Creatinine      383 non-null    float64
 12  Sodium          313 non-null    float64
 13  Potassium       312 non-null    float64
 14  Hemoglobin      348 non-null    float64
 15  Hematocrit      329 non-null    float64
 16  WBC_count       294 non-null    float64
 17  RBC_count       269 non-null    float64
 18  HTN             398 non-null    object
 19  DM              398 non-null    object
 20  CAD             398 non-null    object
 21  appetite        399 non-null    object
 22  pedal_edema     399 non-null    object
 23  anemia          399 non-null    object
 24  class           400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.3+ KB

In [6]:
cat_cols = [col for col in df.columns if df[col].dtype == 'object']
num_cols = [col for col in df.columns if df[col].dtype != 'object']
for col in cat_cols:
    print(f"{col} has {df[col].unique()} values\n")

rbc has [nan 'normal' 'abnormal'] values

pc has ['normal' 'abnormal' nan] values

pcc has ['notpresent' 'present' nan] values

ba has ['notpresent' 'present' nan] values

htn has ['yes' 'no' nan] values

dm has ['yes' 'no' nan] values

cad has ['no' 'yes' nan] values

appet has ['good' 'poor' nan] values

pe has ['no' 'yes' nan] values

ane has ['no' 'yes' nan] values

classification has ['ckd' 'notckd'] values

In [53]:
df['class'] = df['class'].map({'ckd': 0, 'notckd': 1})
df['class'] = pd.to_numeric(df['class'], errors='coerce')

In [54]:
for col in cat_cols:
    print(f"{col} has {df[col].unique()} values\n")

urine_RBC has [nan 'normal' 'abnormal'] values

urine_pc has ['normal' 'abnormal' nan] values

urine_pcc has ['notpresent' 'present' nan] values

urine_bacteria has ['notpresent' 'present' nan] values

HTN has ['yes' 'no' nan] values

DM has ['yes' 'no' nan] values

CAD has ['no' 'yes' nan] values

appetite has ['good' 'poor' nan] values

pedal_edema has ['no' 'yes' nan] values

anemia has ['no' 'yes' nan] values

class has [0 1] values

In [55]:
def random_value_imputation(feature):
    random_sample = df[feature].dropna().sample(df[feature].isna().sum())
    random_sample.index = df[df[feature].isnull()].index
    df.loc[df[feature].isnull(), feature] = random_sample
    
def impute_mode(feature):
    mode = df[feature].mode()[0]
    df[feature] = df[feature].fillna(mode)

In [56]:
for col in num_cols:
    random_value_imputation(col)
df[num_cols].isnull().sum()

Age              0
BP               0
SG               0
Albumin          0
urine_sugar      0
blood_glucose    0
blood_urea       0
Creatinine       0
Sodium           0
Potassium        0
Hemoglobin       0
Hematocrit       0
WBC_count        0
RBC_count        0
dtype: int64

In [57]:
random_value_imputation('urine_RBC')
random_value_imputation('urine_pc')
for col in cat_cols:
    impute_mode(col)

In [58]:
df[cat_cols].isnull().sum()

urine_RBC         0
urine_pc          0
urine_pcc         0
urine_bacteria    0
HTN               0
DM                0
CAD               0
appetite          0
pedal_edema       0
anemia            0
class             0
dtype: int64

In [64]:
df.to_csv('..\ckd_dataset\kidney_disease_4.csv',       # 저장할 파일명
          index=False)

In [61]:
for col in cat_cols:
    print(f"{col} has {df[col].nunique()} categories\n")

urine_RBC has 2 categories

urine_pc has 2 categories

urine_pcc has 2 categories

urine_bacteria has 2 categories

HTN has 2 categories

DM has 2 categories

CAD has 2 categories

appetite has 2 categories

pedal_edema has 2 categories

anemia has 2 categories

class has 2 categories

In [62]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in cat_cols:
    df[col] = le.fit_transform(df[col])

In [63]:
df.head()

,Age,BP,SG,Albumin,urine_sugar,urine_RBC,urine_pc,urine_pcc,urine_bacteria,blood_glucose,blood_urea,Creatinine,Sodium,Potassium,Hemoglobin,Hematocrit,WBC_count,RBC_count,HTN,DM,CAD,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,142.0,3.6,15.4,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,104.0,18.0,0.8,135.0,4.3,11.3,38.0,6000.0,4.7,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,141.0,4.4,9.6,31.0,7500.0,4.7,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,150.0,4.7,11.6,35.0,7300.0,4.6,0,0,0,0,0,0,0

In [7]:
#0,1 바뀐 것 check(Class: ckd, notckd)
#missing value 분포(RBC 35% 이상 missing)
num_cols = df.select_dtypes(include='float64').columns
cat_cols = df.select_dtypes(include='object').columns
for col in num_cols:    
    print(f"{col} has {df[col].isnull().sum()} missing values\n")
for col in cat_cols:
    print(f"{col} has {df[col].isnull().sum()} missing values\n")

age has 9 missing values

bp has 12 missing values

sg has 47 missing values

al has 46 missing values

su has 49 missing values

bgr has 44 missing values

bu has 19 missing values

sc has 17 missing values

sod has 87 missing values

pot has 88 missing values

hemo has 52 missing values

pcv has 71 missing values

wc has 106 missing values

rc has 131 missing values

rbc has 152 missing values

pc has 65 missing values

pcc has 4 missing values

ba has 4 missing values

htn has 2 missing values

dm has 2 missing values

cad has 2 missing values

appet has 1 missing values

pe has 1 missing values

ane has 1 missing values

classification has 0 missing values